#listfaqs_admin{
	background-color: silver; 
   padding-top:15px;
   padding-left:5px;
}
#faq_section{
	background-color: silver; 
   padding-top:15px;
   padding-left:5px;
}
h3{
    text-align: center;
}