body{
  margin: 0 auto;
  width: 1200px;
	padding-left: 0px;
	padding-right: 0px;
}
h2{
	text-align: center;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
/* Search Bar */
#custom-search-form {
	margin:0;
	margin-top: 5px;
	padding: 0;
}
#custom-search-form .search-query {
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 3px;
	padding-left: 4px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */

	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#custom-search-form button {
	border: 0;
	background: none;
	/** belows styles are working good */
	padding: 2px 5px;
	margin-top: 2px;
	position: relative;
	left: -28px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.search-query:focus + button {
	z-index: 3;   
}


/* Menu bar */
.dropdown > button{
  width: 202px;
  margin-bottom: 10px;
}
.dropdown-menu{
  width: 202px;
}
.dropdown-menu > li > a.nav-link{
  text-align: center;
}

/* Main Section */

/* sub-menu images section */
.sub-service{
	border: 2px solid black;
	border-radius: 10px;
	transition: .5s ease;
}
.sub-service:hover{
	opacity: 0.6;
}

/* Review Section */
.card-deck{
	margin-left: 0px;
  margin-right: 0px;
}


/* Footer Social Media Icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #212529;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* Desktop */
@media (min-width: 768px){
	.container {
			max-width: 100%;
	}
}

/* Tablet */
@media (min-width: 576px){
	.container{
		max-width: 100% ;
	}
}

/* Mobile */
@media (min-width: 390px){
	.container{
		max-width: 100%;
	}
	/* Search bar to show as list when navbar collapse */
	.pull-right{
		float:left;
	}
	.search-query{
		width:75%;
	}
	
}